name: Release

on:
  push:
    tags:
      - 'v*'

env:
  CARGO_TERM_COLOR: always

jobs:
  publish:
    name: Publish for ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            artifact_name: mizu
            asset_name: mizu-linux-x86_64
          - os: windows-latest
            artifact_name: mizu.exe
            asset_name: mizu-windows-x86_64
          - os: macos-latest
            artifact_name: mizu
            asset_name: mizu-macos-x86_64

    steps:
    - uses: actions/checkout@v4

    - name: Set up Rust
      uses: dtolnay/rust-toolchain@stable

    - name: Build
      run: cargo build --release --locked

    - name: Package (Linux/macOS)
      if: runner.os != 'Windows'
      run: |
        strip target/release/${{ matrix.artifact_name }}
        tar -czf ${{ matrix.asset_name }}.tar.gz -C target/release ${{ matrix.artifact_name }}

    - name: Package (Windows)
      if: runner.os == 'Windows'
      run: |
        Compress-Archive -Path target/release/${{ matrix.artifact_name }} -DestinationPath ${{ matrix.asset_name }}.zip

    - name: Upload Release Asset
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: |
          ${{ matrix.asset_name }}.tar.gz
          ${{ matrix.asset_name }}.zip
